body, html {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Muli', sans-serif;
}

html {
    overflow-y: scroll;
    overflow-x: hidden;
    position: relative;
}

/*::::::::::::::::::::::::::::::::::::::::::::::::
                    HEADER
::::::::::::::::::::::::::::::::::::::::::::::::*/

#canvas-overlay {
    position: absolute;
    display: grid;
    place-items: center;
    width: 100vw;
    height: 100vh;
    text-align: center;
    pointer-events: none;
    overflow: auto;
}

#canvas-overlay h2 h3 {
    overflow: auto;
    resize: both;
}

/*::::::::::::::::::::::::::::::::::::::::::::::::
                    CANVAS
::::::::::::::::::::::::::::::::::::::::::::::::*/

#canvas-container canvas {
    position: absolute;
    top:0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
}

/*::::::::::::::::::::::::::::::::::::::::::::::::
            FLOCKING SIMULATION INFO
::::::::::::::::::::::::::::::::::::::::::::::::*/

.popbtn {
    position: absolute;
    width: 60px;
    height: 60px;
    bottom: 0;
    transform: translate(50px, -50px); 
    background-color: black;
    color: white;
    font-size: 30px;
    text-align: center center;
    border-radius: 30px;
    border: none;
    outline: none;
    cursor: pointer;
}

.popbtn:hover {
    font-size: 36px;

}

.popup-content {
    display: none;
    position: absolute;
    bottom: 0;
    transform: translate(50px, -50px); 
    background-color: white;
    width: 320px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    border: 4px solid #000;
    z-index: 1;
}


@media only screen and (max-width: 420px) {
    .popup-content {
        width: calc(100% - 100px);
    }
}

.popup-content #popup-tab {
    width: 100%;
    display: inline-block;
    background-color: black;
}

.popup-content .closebtn {
    /* float: right; */
    width: 30px;
    height: 35px;
    background-color: black;
    color: white;
    font-size: 24px;
    border: none;
    outline: none;
    cursor: pointer;
}

.popup-content #popup-info {
    padding: 10px;
}
.popup-content h5 {
    color: black;
    padding: 0px 20px;
    text-decoration: none;
    display: block;
}

.show {
    display: inline-block;
}

    /*::::::::::::::  slider  ::::::::::::::::*/
    
    .slidecontainer {
        padding: 20px;
        padding-top: 0;
        width: 100%; /* Width of the outside container */
        display: flex;
        flex-wrap: wrap;
        align-content: center center;
    }
      
      /* The slider itself */
    .slider {
        width: calc(100% - 40px); /* Full-width */
        height: 25px; /* Specified height */
        outline: none; /* Remove outline */
        opacity: 0.7; /* Set transparency (for mouse-over effects on hover) */
    }
      
      /* Mouse-over effects */
    .slider:hover {
        opacity: 1; /* Fully shown on mouse-over */
    }


/*::::::::::::::::::::::::::::::::::::::::::::::::
                    BODY
::::::::::::::::::::::::::::::::::::::::::::::::*/

.split-section {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    color: white;
}

.split-section div {
    flex: 1 1 450px;
    display: grid;
    /* flex-wrap: wrap; */
    place-items: center;
    background-color: blueviolet;
    margin: 0px;
}

.split-section .title {
    height: 100vh;
    position: -webkit-sticky; /* Safari */
    position: sticky;
    top: 0;
}

@media only screen and (max-width: 920px) {
    .split-section .title {
        display: grid;
        place-items: center;
    
    }
    .split-section .title {
        position: relative;
    }
}

.split-section .text {
}

#showcase {
    text-align: center;
}