body, html {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
}

html {
    overflow-y: scroll;
    overflow-x: hidden;
    position: relative;
}

#canvas-overlay {
    transform: translate(50vw, 50vh) translate(-50%, -50%);
    position: absolute;
    text-align: center;
    pointer-events: none;
    overflow: auto;
    resize: both;
}

#canvas-overlay h2 h3 {
    overflow: auto;
    resize: both;
}

#canvas-container canvas {
    position: absolute;
    top:0;
    bottom: 0;
    left: 0;
    right: 0;
    margin:auto;
}

#showcase {
    text-align: center;
}