body, html {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

#canvas-container {
    position: relative;
    background-color: black;
}

#canvas-container canvas, #canvas-overlay {
    position: absolute;
}

#canvas-overlay {
    transform: translate(50vw, 50vh) translate(-50%, -50%);
    position: absolute;
    text-align: center;
    user-select: none;
}
